@tailwind base;
@tailwind components;
@tailwind utilities;


/* reset */
button {
  all: unset;
}

.SwitchRoot {
  width: 42px;
  height: 25px;
  background-color: #a1a1aa;
  border-radius: 9999px;
  position: fixed;
  bottom: 40px;
  left: 40px;
  box-shadow: 0 1px 5px #222;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.SwitchRoot[data-state='checked'] {
  background-color: #a1a1aa;
}

.SwitchThumb {
  display: block;
  width: 21px;
  height: 21px;
  background-color: white;
  border-radius: 9999px;
  box-shadow: 0 2px 2px #222;
  transition: transform 100ms;
  transform: translateX(2px);
  will-change: transform;
}
.SwitchThumb[data-state='checked'] {
  transform: translateX(19px);
}

.Label {
  color: white;
  font-size: 15px;
  line-height: 1;
}